doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .nav-bar
      a(href="/").nav-bar-links Home
      a(href="/signup").nav-bar-links Sign Up

    block content
