extends layout

block content
  form.form-container(method="POST")
      h1.form-title Sign Up
      if errors
        p= {errors}
      
      .form-field
        label.form-label(for="firstName") First Name: 
        if firstName
          span= {firstName}
        input.form-input(type="text" id="firstName" name="firstName" required)
      
      .form-field
        label.form-label(for="lastName") Last Name:
        if lastName
          span= {lastName}
        input.form-input(type="text" id="lastName" name="lastName" required)
      
      .form-field
        label.form-label(for="username") Username:
        if username
          span= {username}
        input.form-input(type="text" id="username" name="username" required)
      
      .form-field
        label.form-label(for="password") Password:
        input.form-input(type="password" id="password" name="password" required)
      
      
      button.form-button(type="submit") Sign Up
      .form-links
      a.form-link(href="/signin") Sign In