extends layout

block content
  form.form-container(method="POST")
    h1.form-title Login
    .form-group
      label.form-label(for="username") Username:
      input.form-input(type="text" id="username" name="username" required)
    .form-group
      label.form-label(for="password") Password:
      input.form-input(type="password" id="password" name="password" required)
    button.form-button(type="submit") Log In
    .form-links
      a.form-link(href="/signup") Sign Up